<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	
	<title>Carousel</title>
</head>
<body>
	
	<div class="container">
	<h1>Criando um CAROUSEL</h1>
		
		<div id="carrosel" class="carousel slide" data-ride="carousel"
			data-interval="3000">
			<ol class="carousel-indicators">
				<li data-target="#carrosel" data-slide-to="0" class="active"></li>
				<li data-target="#carrosel" data-slide-to="1"></li>
				<li data-target="#carrosel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="https:\\unsplash.it/1280/720?random">
					<!-- Inserindo Legenda no carousel -->
					<div class="carousel-caption">
						<h3>Slide Um</h3>
						<p>Imagem 1 Randonizada!</p>
					</div>
				</div>
				<div class="item">
					<img src="https:\\unsplash.it/1279/720?random">
				</div>
				<div class="item">
					<img src="https:\\unsplash.it/1278/720?random">
				</div>
				<!-- Inserindo botoes carousel -->
				<a class="left carousel-control" href="#carrosel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carrosel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>