<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	
	<title>--Home--</title>
</head>
<body>
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <!-- Definimos um botao para apresentacao dos itens da 
	navbar caso ela [colapse], entao chamaremos componente com 
	id="menu" e exibimos as informacoes aqui dentro do botao -->
      <button type="button" class="navbar-toggle collapsed"
      	data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logotipo" href="#">
		<img alt="WatchIdea" src="/images/logo_cursoBoots.png">
      </a>
    </div>

	<!-- Abaixo criaremos um navbar que ao minimizar muito a tela
	ele colapsa para ficar responsivo, atribuimos id="menu" -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Menu <span class="sr-only"></span></a></li>
        <li><a href="#">Ordens de Serviço</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Funcionários</a></li>
        <li><a href="#">Serviços</a></li>
      </ul>
      
       <!-- Insercao do DROPDOWN -->
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          	aria-haspopup="true" aria-expanded="false">Minha Conta <span class="caret"></span></a>
          <ul class="dropdown-menu perfil">
          	<!-- Insercao Avatar. -->
          	<!-- "hidden-xs" esconde componente se M.query=XS  -->
	      	<div class="col-sm-4 hidden-xs">
	        	<img class="img-responsive img-rounded" src="https://api.adorable.io/avatars/100/watchidea.png">
	        </div>
	        <div class="col-sm-8">
	          <li><a>[Usuario Logado]</a></li>
	          <li><a href="#">Alterar Perfil</a></li>
	          <li role="separator" class="divider"></li>
	          <li><a href="#">Sair</a></li>
	        </div>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<!-- Inserindo Breadcrumb desta pagina -->
	<ol class="breadcrumb">
		<li><a href="">Inicio</a></li>
		<li><a href="">Ordens de Serviço</a></li>
		<li class="active">Pesquisa</li>
	</ol>
	
	<!-- Inserindo campo de busca -->
	<div class="row cabecalho">
		<div class="col-xs-12 col-md-6">
			<h1>Ordens de Serviço</h1>
		</div>
		<div class="col-xs-12 col-md-4 col-md-offset-2 divbusca">
			<div class="input-group">
				<input type="text" name="busca" class="form-control" 
					placeholder="Pesquisar por nome do cliente">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default">
						<span class="glyphicon - glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
	
	<!-- Inserindo Tabela Responsiva -->
	<div class="table-responsive">
		<table class="tb-os table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="text-center">Cod.</th>
					<th class="text-center">Data</th>
					<th class="text-center">Cliente</th>
					<th class="text-center">Valor</th>
					<th class="text-center">Funcionario</th>
					<th class="text-center">Status</th>
					<th class="text-center">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>5</td>
					<td>05/06/2020</td>
					<td>Cliente 1</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-primary">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td>05/06/2020</td>
					<td>Cliente 2</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-primary">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
				<tr>
					<td>11</td>
					<td>05/06/2020</td>
					<td>Cliente 3</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-default">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
				<tr>
					<td>13</td>
					<td>05/06/2020</td>
					<td>Cliente 5</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-warning">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
				<tr>
					<td>15</td>
					<td>05/06/2020</td>
					<td>Cliente 4</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-danger">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
				<tr>
					<td>21</td>
					<td>05/06/2020</td>
					<td>Cliente 6</td>
					<td>110,00</td>
					<td>Juan</td>
					<td><span class="label label-success">Em andamento</span></td>
					<td class="text-center">
						<a href="" data-toggle="tooltip" title="Finalizar"><span class="glyphicon glyphicon-ok text-success"></span></a>
						<a href="" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						<a href="" data-toggle="tooltip" title="Excluir"><span class="glyphicon glyphicon-trash text-danger"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Inserindo Paginacao no RODAPE -->
	<footer>
		<div class="col-sm-6">
			<button class="btn btn-primary" data-toggle="modal" 
				data-target="#NovaOS">Nova Ordem de Serviço</button>
		</div>
		<div class="col-sm-6 paginacao text-right">
			<ul class="pagination">
				<li class="disabled"><a href=""><span><<</span></a></li>
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href=""><span>>></span></a></li>
			</ul>
		</div>
	</footer>
	
	<!-- Inserindo MODAL do botao de "Nova Ordem de Serviço" -->
	<div class="modal fade" id="NovaOS">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal"
						class="close">
						<span>&times;</span>
					</button>
					<h4>Nova Ordem de Serviço</h4>
				</div>
				<form>
					<!-- Inserindo entrada de dados da OS -->
					<div class="modal-body">
						<div class="text-center col-sm-6 alert alert-warning">
							<button type="button" class="close" data-dismiss="alert">
								<span>&times;</span></button>
							AVISO
						</div>
						<div class="text-center col-sm-6 alert alert-success">
							<button type="button" class="close" data-dismiss="alert">
								<span>&times;</span></button>
							SUCESSO
						</div>
						<div class="text-center col-sm-6 alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">
								<span>&times;</span></button>
							ERRO
						</div>
						<div class="text-center col-sm-6 alert alert-info">
							<button type="button" class="close" data-dismiss="alert">
								<span>&times;</span></button>
							INFO
						</div>
						<div class="row">
							<div class="form-group col-xs-12">
								<label>Código da OS</label>
								<p class="form-control-static">4123</p>
								<!-- "form-control-static" nao permite que 
									o campo seja editavel -->
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-5">
								<label class="control-label" for="cliente">Cliente</label>
								<select id="cliente" class="form-control">
									<option value="">Selecione...</option>
									<option value="1">Cliente 1 Cadastrado</option>
									<option value="2">Cliente 2 Cadastrado</option>
									<option value="3">Cliente 3 Cadastrado</option>
								</select>
							</div>
							<div class="form-group has-warning col-sm-7">
								<label class="control-label" for="servico">Serviços</label>
								<select id="servico" class="form-control">
									<option value="">Selecione...</option>
									<option value="1">Ajuste de Data/Hora</option>
									<option value="2">Conserto engrenagem</option>
									<option value="3">Troca de Bateria</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group has-error col-xs-12">
								<label class="control-label" for="observacao">Observação</label>
								<textarea rows="3" id="observacao" class="form-control"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group has-success col-sm-4">
								<label class="control-label" for="valor">Valor</label>
								<div class="input-group">
									<div class="input-group-addon">R$</div>
									<input type="text" name="valor" id="valor" 
										class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-danger">Limpar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>
			
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>